<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Landing Page</title>
</head>
<body>
    <img src="top-right.png" alt="" width="600" id="top-right-design" class="design">
    <img src="top-left.png" alt="" width="600" id="top-left-design" class="design">

    <div class="container">
        <div class="left-side">
            <h1 class="title">DMDPNHS</h1>
            <h2 class="sub-title">RFID-Based Attendance</h2>
        </div>

        <div class="right-side">
            <form action="">
                <div class="form-input">
                    <input type="text" placeholder="Name" />
                </div>

                <div class="form-input">
                    <input type="password" placeholder="Password" />
                </div>
                
                <div class="form-input">
                    <input type="submit" value="Log in" class="cta" />
                </div>

                <div>
                    <button class="create-acc">Create new account</button>
                </div>
                
                <div>
                    <a href="#" id="forgot-pass">Forgot Password?</a>
                </div>

            </form>

        </div>
    </div>

    <footer>
        <div>SSP-Einstein Project 2023</div>
        <div>RFID-Based Attendance</div>
        <div>2nd Grading</div>
    </footer>
</body>
</html>