<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1 class="welcome">Welcome, Luan!</h1>

        <div class="selections">
            <button>
                <h3>Manage Students</h3>
            </button>
    
            <button>
                <h3>Manage Sections</h3>
            </button>
    
            <button>
                <h3>View Attendance</h3>
            </button>
        </div>
    </div>
</body>
</html>